<TMPL_include "example-header.tmpl">
<h1>It's worked!</h1>
Below is dump of request variables:
<pre>
<TMPL_var OBJ_DUMP()>
</pre>
<small><center>Powered by CAS <TMPL_var Version></center></small>
<TMPL_include "example-footer.tmpl">